*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Euclid Circular A";
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #262525;
  background-color: #FFFFFF;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 164rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

section {
  margin-bottom: 18rem;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.3333333333vw;
    -webkit-text-size-adjust: none;
  }
  body {
    -webkit-text-size-adjust: none;
  }
  .container {
    padding: 0 4rem;
    width: 100%;
  }
}
.blog-more-btn {
  color: #fff;
  font-family: "Futura PT";
  font-size: 1.5rem;
  font-weight: 450;
  line-height: 2.2rem;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.blog-more-btn svg {
  margin: 0 0 0 3.9rem;
}
.blog-more-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
@media (max-width: 48em) {
  .blog-more-btn {
    font-size: 2.8rem;
    line-height: 3.6rem;
    letter-spacing: 0.28rem;
    text-transform: uppercase;
  }
  .blog-more-btn svg {
    margin: 0 0 0 2.4rem;
  }
}

.blog-header {
  font-family: "Forum";
  margin-bottom: 0;
}
.blog-header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.blog-header__title {
  font-size: 7rem;
  line-height: 8.3rem;
  text-transform: uppercase;
}
.blog-header__text {
  font-size: 4rem;
  line-height: 115%;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  max-width: 74.9rem;
}
@media (max-width: 48em) {
  .blog-header__container {
    flex-direction: column;
    align-items: flex-start;
  }
  .blog-header__title {
    font-size: 6rem;
    line-height: 8.2rem;
    margin: 0 0 8rem 0;
  }
  .blog-header__text {
    font-size: 4.4rem;
    line-height: 118%;
    max-width: none;
  }
}

.blog-main-image {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
  margin: 0;
}
.blog-main-image__container {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
@media (max-width: 48em) {
  .blog-main-image__container {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.blog-filtres {
  font-family: "Forum";
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
  margin-bottom: 8rem;
}
.blog-filtres__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5.8rem 15.35rem;
}
.blog-filtres__filter {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: "Futura PT";
  font-size: 1.5rem;
  font-weight: 450;
  line-height: 2.2rem;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
}
.blog-filtres__filter:hover {
  cursor: pointer;
  color: #fff;
}
@media (max-width: 48em) {
  .blog-filtres {
    margin-bottom: 5rem;
  }
  .blog-filtres__container {
    flex-direction: column;
    padding: 9rem 0;
    row-gap: 7rem;
  }
  .blog-filtres__filter {
    font-size: 2.8rem;
    line-height: 3.6rem;
    letter-spacing: 0.28rem;
  }
}

.blog-list {
  font-family: "Forum";
}
.blog-list__container {
  display: flex;
  flex-direction: column;
}
.blog-list__item {
  display: flex;
  padding: 0 0 5rem 0;
  border-bottom: 0.1rem solid #fff;
}
.blog-list__item:not(:first-child) {
  padding: 2.6rem 0 5rem 0;
}
.blog-list .item-list__number {
  color: var(--ffffff-50, rgba(255, 255, 255, 0.5));
  font-size: 4rem;
  line-height: 3rem;
  letter-spacing: 1.28rem;
  text-transform: uppercase;
  width: 17rem;
  margin: 0 15.5rem 0 0;
}
.blog-list .item-list__image {
  width: 30.6rem;
  height: 21.2rem;
  margin: 0 25.9rem 0 0;
}
.blog-list .item-list__image img {
  width: 30.6rem;
  height: 21.2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-list .item-list__descr {
  width: 74.9rem;
  min-height: 23.6rem;
  display: flex;
  flex-direction: column;
}
.blog-list .item-list__descr-title {
  color: #fff;
  font-size: 4rem;
  line-height: 115%;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  margin: 0 0 1.2rem 0;
}
.blog-list .item-list__descr-category {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Futura PT";
  font-size: 1.9rem;
  line-height: 2.6rem;
  margin: 0 0 2rem 0;
}
.blog-list .item-list__descr-text {
  color: #fff;
  font-family: "Futura PT";
  font-size: 1.9rem;
  line-height: 2.6rem;
}
.blog-list .item-list__descr-more {
  margin-top: auto;
  justify-content: flex-end;
}
.blog-list__load-more {
  color: #fff;
  font-family: "Futura PT";
  font-size: 1.5rem;
  font-weight: 450;
  line-height: 2.2rem;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
  text-align: center;
  margin: 10rem 0 0 0;
}
@media (max-width: 48em) {
  .blog-list__item {
    flex-direction: column;
    padding: 0 0 6rem 0;
  }
  .blog-list__item:not(:first-child) {
    padding: 10rem 0 6rem 0;
  }
  .blog-list .item-list__number {
    font-size: 4.4rem;
    line-height: 118%;
    margin: 0 0 4.8rem 0;
  }
  .blog-list .item-list__image {
    width: 100%;
    height: 65.4rem;
    margin: 0 0 4rem 0;
  }
  .blog-list .item-list__image img {
    width: 100%;
    height: 65.4rem;
  }
  .blog-list .item-list__descr {
    width: auto;
    min-height: 44.8rem;
  }
  .blog-list .item-list__descr-title {
    font-size: 4.4rem;
    line-height: 118%;
    margin: 0 0 2.4rem 0;
  }
  .blog-list .item-list__descr-category {
    font-size: 3.2rem;
    line-height: 4.4rem;
    margin: 0 0 2.4rem 0;
  }
  .blog-list .item-list__descr-text {
    font-size: 3.2rem;
    line-height: 4.4rem;
  }
  .blog-list__load-more {
    font-size: 2.8rem;
    line-height: 3.6rem;
    letter-spacing: 0.28rem;
    margin: 10rem 0 0 0;
  }
}

.article-header {
  font-family: "Forum";
  margin-bottom: 5rem;
}
.article-header__title {
  color: #FFF;
  font-size: 7rem;
  line-height: 8.3rem;
  text-transform: uppercase;
  margin: 0 0 5rem 0;
}
.article-header__image {
  width: 164rem;
  height: 99rem;
}
.article-header__image img {
  width: 164rem;
  height: 99rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 48em) {
  .article-header {
    margin-bottom: 8rem;
  }
  .article-header__title {
    font-size: 6rem;
    line-height: 8.2rem;
    margin: 0 0 8rem 0;
  }
  .article-header__image {
    width: 67rem;
    height: 39rem;
  }
  .article-header__image img {
    width: 67rem;
    height: 39rem;
  }
}

.article-body {
  font-family: "Forum";
}
.article-body__title {
  font-size: 4rem;
  line-height: 115%;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  max-width: 89rem;
  margin: 0 auto 4rem auto;
}
.article-body__text {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Futura PT";
  font-size: 1.9rem;
  line-height: 2.6rem;
  max-width: 89rem;
  margin: 0 auto 10rem auto;
}
.article-body__text:nth-last-child(3) {
  margin: 0 auto 4rem auto;
}
.article-body__images-row {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  margin: 0 0 10rem 0;
}
.article-body__images-item {
  width: 80.5rem;
  height: 91rem;
}
.article-body__images-item img {
  width: 80.5rem;
  height: 91rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-body__subtitle {
  font-size: 1.9rem;
  line-height: 150%;
  letter-spacing: 0.038rem;
  text-transform: uppercase;
  max-width: 89rem;
  margin: 0 auto 5rem auto;
}
.article-body__image {
  width: 89.3rem;
  height: 38.9rem;
  margin: 0 auto 5rem auto;
}
.article-body__image img {
  width: 89.3rem;
  height: 38.9rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-body__socials {
  margin: 0 0 10rem 37.5rem;
  display: flex;
  align-items: center;
}
.article-body__socials-item {
  width: 5.3rem;
  height: 5.3rem;
  border: 0.1rem solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-body__socials-item:not(:last-child) {
  margin: 0 5rem 0 0;
}
.article-body__controlls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--ffffff, #FFF);
  font-family: "Futura PT";
  font-size: 1.5rem;
  font-weight: 450;
  line-height: 2.2rem;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
}
.article-body__controlls-prev, .article-body__controlls-next {
  display: flex;
  align-items: center;
}
.article-body__controlls-prev div, .article-body__controlls-next div {
  max-width: 13.7rem;
}
.article-body__controlls-prev:hover, .article-body__controlls-next:hover {
  cursor: pointer;
}
.article-body__controlls-prev svg {
  margin: 0 1.2rem 0 0;
}
.article-body__controlls-next svg {
  margin: 0 0 0 1.2rem;
}
@media (max-width: 48em) {
  .article-body {
    margin: 0 0 24rem 0;
  }
  .article-body__title {
    font-size: 4.4rem;
    line-height: 118%;
    margin: 0 0 6rem 0;
  }
  .article-body__text {
    font-size: 3.2rem;
    line-height: 4.4rem;
    margin: 0 0 6rem 0;
  }
  .article-body__text:nth-child(4) {
    margin: 0 0 11rem 0;
  }
  .article-body__text:nth-last-child(3) {
    margin: 0 0 10rem 0;
  }
  .article-body__images-row {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    margin: 0 0 7rem 0;
  }
  .article-body__images-item {
    width: 31.6rem;
    height: 36.2rem;
  }
  .article-body__images-item img {
    width: 31.6rem;
    height: 36.2rem;
  }
  .article-body__subtitle {
    font-size: 2.8rem;
    line-height: 4.4rem;
    margin: 0 0 6rem 0;
  }
  .article-body__image {
    width: 67rem;
    height: 39rem;
    margin: 0 0 6rem 0;
  }
  .article-body__image img {
    width: 67rem;
    height: 39rem;
  }
  .article-body__socials {
    margin: 0 0 10rem 0;
    padding: 0 10.4rem;
    justify-content: space-between;
  }
  .article-body__socials-item {
    width: 8rem;
    height: 8rem;
  }
  .article-body__socials-item:not(:last-child) {
    margin: 0;
  }
  .article-body__controlls {
    font-size: 2.8rem;
    line-height: 3.6rem;
    letter-spacing: 0.28rem;
  }
  .article-body__controlls-prev div, .article-body__controlls-next div {
    max-width: 20.4rem;
    text-align: center;
  }
  .article-body__controlls-prev svg {
    margin: 0 2.4rem 0 0;
  }
  .article-body__controlls-next svg {
    margin: 0 0 0 2.4rem;
  }
}

.article-similar {
  font-family: "Forum";
  margin: 0 0 19.6rem 0;
}
.article-similar__header {
  margin: 0 0 5rem 0;
}
.article-similar__title {
  font-size: 4rem;
  line-height: 116%;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  margin: 0 0 3rem 0;
}
.article-similar__controlls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.article-similar__controlls .article-similar__swiper-button-prev:hover,
.article-similar__controlls .article-similar__swiper-button-next:hover {
  cursor: pointer;
}
.article-similar__controlls .article-similar__swiper-button-prev {
  margin: 0 2rem 0 0;
}
.article-similar__item {
  max-width: 38.9rem;
}
.article-similar__item-image {
  width: 38.7rem;
  height: 38.9rem;
  margin: 0 0 2rem 0;
}
.article-similar__item-image img {
  width: 38.7rem;
  height: 38.9rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-similar__item-name {
  font-size: 1.9rem;
  line-height: 150%;
  letter-spacing: 0.038rem;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}
.article-similar__item-descr {
  display: flex;
  flex-direction: column;
  min-height: 15.9rem;
}
.article-similar__item-text {
  font-family: "Futura PT";
  font-size: 1.9rem;
  line-height: 2.6rem;
}
.article-similar__item-more {
  margin-top: auto;
  justify-content: flex-end;
}
@media (max-width: 48em) {
  .article-similar {
    margin: 0 0 24rem 0;
  }
  .article-similar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .article-similar__title {
    font-size: 4.4rem;
    line-height: 118%;
    margin: 0;
  }
  .article-similar__controlls .article-similar__swiper-button-prev svg {
    margin: 0 4.8rem 0 0;
  }
  .article-similar__controlls .article-similar__swiper-button-next svg,
  .article-similar__controlls .article-similar__swiper-button-prev svg {
    width: 4rem;
  }
  .article-similar__swiper-wrapper {
    row-gap: 10rem;
  }
  .article-similar__item {
    max-width: none;
  }
  .article-similar__item-image {
    width: 67rem;
    height: 65.4rem;
    margin: 0 0 4rem 0;
  }
  .article-similar__item-image img {
    width: 67rem;
    height: 65.4rem;
  }
  .article-similar__item-name {
    font-size: 2.8rem;
    line-height: 4.4rem;
    margin: 0 0 2.4rem 0;
  }
  .article-similar__item-descr {
    min-height: 24rem;
  }
  .article-similar__item-text {
    font-size: 3.2rem;
    line-height: 4.4rem;
  }
}

body {
  background-color: #090909;
  color: #fff;
}

.pages-container {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  font-size: 3rem;
  color: #090909;
}
.pages-container a {
  display: block;
}/*# sourceMappingURL=style.css.map */