@import 'set';
@import 'variables';

@import 'blog-more-btn';

@import 'blog-header';
@import 'blog-main-image';
@import 'blog-filtres';
@import 'blog-list';

body {
    background-color: $black;
    color: $white;
}

.pages-container {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    font-size: 3rem;
    color: $black;

    a {
        display: block;
    }
}